extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Mark Westerweel

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | My name is Mark, after years of working as a chef, I decided to take the plunge and make a career shift... into software developing! I know, quite a different field, but I have always found computers and software interesting, whether it be games, app or websites. After looking up some vids on YouTube and what-not, I found the Team Treehouse Full-Stack course. So that's what I am doing right now -- developing my skills as a developer.
            | My goals are becoming a great Full-Stack developer while being able to provide for my family
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS3(Grid, flex)
          li Bootstrap
          li JavaScript(ES2020)
          li Pug
          li Node.js
          li Express
          li SQL
        h6 Contact Info

        //- Add your own contact info
        ul
          li (+31)646382493
          li mwesterweel@hotmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/mark-westerweel-43708178/') LinkedIn
        br
        a.button.expanded(href='https://github.com/MWest2020') GitHub
        br
        a.button.expanded(href='https://twitter.com/Dev_MWest2020') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  