extends layout.pug

block content 
    nav.grid-container.portfolio-breadcrumb
        a(href='/') ← Back
    article.grid-container.portfolio-intro.portfolio-project
        .grid-x
        .cell.small-6.medium-9.large-9
            br
            h1 Seems something is wrong.
            br
            h4 
              a(href='https://en.wikipedia.org/wiki/List_of_HTTP_status_codes') (Here's a link to the wiki of statuscodes)
            br
            
            h2= error.status
            pre= error.stack