extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

       
      h1 What I did so far:
      br
      
      p.lead.text-light
        | Thank you for taking the time to check out my project portfolio. It's a way to show what I am doing along my way to become a full-fledged web developer and software engineer. 
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in data
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`)
            h5= project.project_name